<div class="homepage-container">
    <div class="select-year">
        <button id="button-year" type="button" class="btn btn-icon" aria-label="home" (click)="print()">ANNO:
            {{selectedYear}}
            <cds-icon id="icon-button-year" style="color: white;" shape="angle" direction="down"></cds-icon>
        </button>
        <div class="options-container" [hidden]="!buttonYearCollapsed">
            @for (year of years; track year) {
            <div class="option-button-year" (click)="selected(year.value)">
                <span>{{year.value}}</span>
            </div>
            }
        </div>
    </div>

    <div class="meeting-container">
        <div *ngIf="seasonInfo$ | async as season">
            <div *ngFor="let meeting of season.Meetings; let index = index;">
                <div>
                    <div class="meeting-row" [id]="'meeting-row' + meeting.Key">
                        <div class="meeting-info" [id]="'meeting-info' + meeting.Key"
                            (click)="espandi(meeting.Key.toString())">
                            <span class="material-icons">
                                {{ espanso[meeting.Key] ? 'expand_less' : 'expand_more' }}
                            </span>
                            <span style="width: 2em;">{{index != 0 ? '#' + index: 'TEST'}}</span>
                            <img [src]="translateFlag(meeting.Country.Code)" width="30px" height="30px">
                            <span style="font-weight: bold; width: 7em;">{{meeting.Circuit.ShortName}}</span>
                            <span
                                style="font-weight: bold; width: 6em;">{{changeDateFormat(meeting.Sessions[0].StartDate)}}</span>
                            <span
                                style="font-weight: bold; width: 6em;">{{changeDateFormat(meeting.Sessions[meeting.Sessions.length
                                - 1].EndDate)}}</span>
                        </div>
                        <div *ngIf="espanso[meeting.Key]">
                            <ng-container id="accordion-container"
                                *ngFor="let session of meeting.Sessions; let i = index">
                                <div class="accordion-row" [id]="'accordion-' + session.Key" (click)="navigateToNewComponent(session.Path!)">
                                    <cds-icon *ngIf="session.Type == 'Qualifying'" shape="clock"></cds-icon>
                                    <cds-icon *ngIf="session.Type == 'Practice'" shape="wrench"></cds-icon>
                                    <cds-icon *ngIf="session.Type == 'Race'" shape="crown"></cds-icon>
                                    <span style="margin-left: 1em; width: 6em;" (click)="checkIfOpen(session.Path, session.Key)">
                                        {{session.Name}}
                                    </span>
                                    <span
                                        style="font-weight: bold; width: 6em; margin-left: 2em;">{{changeDateFormat(session.StartDate)}}</span>
                                    <span
                                        style="font-weight: bold; width: 6em; margin-left: 2em;">{{changeDateFormat(session.EndDate)}}</span>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <clr-accordion class="accordion-container">
    <div *ngIf="seasonInfo$ | async as season">
        <clr-accordion-panel *ngFor="let meeting of season.Meetings; let i = index"
            [clrAccordionPanelOpen]="openIndex === i">
            <clr-accordion-title>
                <div class="meeting-row">
                    <span style="width: 1.5em;">{{i != 0 ? '#' + i: 'TEST'}}</span>
                    <img [src]="translateFlag(meeting.Country.Code)" width="30px" height="30px">
                    <span style="font-weight: bold; width: 7em;">{{meeting.Circuit.ShortName}}</span>
                    <span
                        style="font-weight: bold; width: 6em;">{{changeDateFormat(meeting.Sessions[0].StartDate)}}</span>
                    <span
                        style="font-weight: bold; width: 6em;">{{changeDateFormat(meeting.Sessions[meeting.Sessions.length
                        - 1].EndDate)}}</span>
                </div>
            </clr-accordion-title>
            <clr-accordion-content>
                <clr-accordion *ngFor="let session of meeting.Sessions; let i = index">
                    <clr-accordion-panel [clrAccordionPanelOpen]="nestedOpenIndex === i">
                        <clr-accordion-title style="font-weight: bold;">
                            <div [id]="'accordion-' + session.Key" style="display: flex;">
                                <cds-icon *ngIf="session.Type == 'Qualifying'" shape="clock"></cds-icon>
                                <cds-icon *ngIf="session.Type == 'Practice'" shape="wrench"></cds-icon>
                                <cds-icon *ngIf="session.Type == 'Race'" shape="crown"></cds-icon>
                                <span style="margin-left: 1em;" (click)="checkIfOpen(session.Path, session.Key)">
                                    {{session.Name}}
                                </span>
                                <span
                                    style="font-weight: bold; width: 6em; margin-left: 3em;">{{changeDateFormat(session.StartDate)}}</span>
                                <span
                                    style="font-weight: bold; width: 6em; margin-left: 1em;">{{changeDateFormat(session.EndDate)}}</span>
                            </div>
                        </clr-accordion-title>
                        <clr-accordion-content>
                            <div *ngIf="topThree$ | async as topthree">
                                <div *ngFor="let line of topthree.Lines; let i = index">
                                    <span>
                                        {{line.FullName}}
                                    </span>
                                </div>
                            </div>
                        </clr-accordion-content>
                    </clr-accordion-panel>
                </clr-accordion>
            </clr-accordion-content>
        </clr-accordion-panel>
    </div>
</clr-accordion> -->