.result-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 2em;
}
.session-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}